<div id="satisfying_moments_info" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <h2 class="uk-modal-title">{{ connected_profile.translate("satisfying_moments_of_day") }}</h2>

        <p>{{ connected_profile.translate("satisfying_moments_info_negativity_biais") }}</p>
        <p>{{ connected_profile.translate("satisfying_moments_info_balance") }}</p>
        <p>{{ connected_profile.translate("satisfying_moments_info_satisfaction") }}</p>
        <p>{{ connected_profile.translate("satisfying_moments_info_strength") }}</p>
        <p>{{ connected_profile.translate("satisfying_moments_info_goal") }}</p>
    </div>
</div>