<h3>
    {{ connected_profile.translate("satisfying_moments_of_day") }}
    <a href="#satisfying_moments_info" uk-toggle uk-icon="icon: info" class="uk-margin-small-left uk-text-meta"></a>
</h3>

{% include "satisfying_moments/satisfying_moments_info.html" %}

{% for satisfying_moment in satisfying_moments %}
{{ SatisfyingMomentCard::from_without_date(connected_profile.clone(), satisfying_moment.clone())|escape("none") }}
{% endfor %}

{% if satisfying_moments.len() == 0 %}
<p>
    {{ connected_profile.translate("none_yet_question") }}
</p>
{% endif %}

<div class="uk-margin-small-top uk-align-right">
    {{ add_modal_button|escape("none") }}
</div>