<h3>
    {{ connected_profile.translate("satisfying_moments_of_day") }}
    <a href="#satisfying_moments_info" uk-toggle uk-icon="icon: info" class="uk-margin-small-left uk-text-meta"></a>
</h3>

{% include "satisfying_moments/satisfying_moments_info.html" %}

{% for satisfying_moment in satisfying_moments %}
<div class="uk-card uk-card-hover uk-card-body uk-border-rounded">
    <a class="uk-link-reset" href="/satisfying_moments/moment?id={{ satisfying_moment.id }}&day={{ satisfying_moment.lived_at }}">
        <h4 class="uk-card-title uk-margin-remove-bottom">{{ satisfying_moment.title }}</h4>

        {% if let Some(satisfaction_level) = satisfying_moment. satisfaction_level %}
        <p class="uk-text-meta uk-margin-remove">
            {% for _ in 0..satisfaction_level as usize %}⭐{% endfor %}
        </p>
        {% endif %}

        <p class="uk-margin-remove-top">{{ satisfying_moment.description }}</p>
    </a>
</div>
{% endfor %}

{% if satisfying_moments.len() == 0 %}
<p>
    {{ connected_profile.translate("none_yet_question") }}
</p>
{% endif %}

<div class="uk-margin-medium-top">
    {{ add_modal_button|escape("none") }}
</div>