<div class="uk-child-width-1-3" uk-grid>
    <div class="uk-text-left uk-width-expand">
        {% if let Some(previous_day) = previous_day %}
        <div>
            <a class="uk-link-reset" href="/journal/of_day?day={{ previous_day }}">
                <span uk-icon="arrow-left"></span>
                <span class="uk-visible@m">{{ connected_profile.translate_relative_date(previous_day) }}</span>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="uk-text-center uk-width-max-content">
        <h2>
            {{ connected_profile.translate_relative_date(day) }}
        </h2>
    </div>

    <div class="uk-text-right uk-width-expand">
        {% if let Some(next_day) = next_day %}
        <div>
            <a class="uk-link-reset" href="/journal/of_day?day={{ next_day }}">
                <span class="uk-visible@m">{{ connected_profile.translate_relative_date(next_day) }}</span>
                <span uk-icon="arrow-right"></span>
            </a>
        </div>
        {% endif %}
    </div>
</div>