{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-margin-large-top uk-animation-fade"
     hx-get="/journal/day_navigation{{ url_param_with_day }}"
     hx-trigger="load"
     hx-swap="outerHTML"
     hx-headers='js:{ "X-Timezone": Intl.DateTimeFormat().resolvedOptions().timeZone }'>
</div>

<div class="uk-margin-large-top uk-animation-fade"
     hx-get="/satisfying_moments/of_day{{ url_param_with_day }}"
     hx-trigger="load"
     hx-swap="outerHTML"
     hx-headers='js:{ "X-Timezone": Intl.DateTimeFormat().resolvedOptions().timeZone }'>
</div>
{% endblock %}