<nav class="uk-navbar-container" style="background-color:#ffffff;" uk-sticky>
    <div class="uk-container uk-container-expand">
        <div uk-navbar="mode: click">

            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">
                    <img src="/assets/images/logo_white_horizontal.png" width="175" height="150" alt="logo">
                </a>

                {% if profile.user.is_some() %}
                <ul class="uk-navbar-nav uk-visible@s">
                    <li>
                        <a href="/">
                            <span uk-icon="home"></span><br>
                            <small>{{ profile.translate("home") }}</small>
                        </a>
                    </li>

                    <li>
                        <a href="/journal/of_month">
                            <span uk-icon="calendar"></span><br>
                            <small>{{ profile.translate("journal") }}</small>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>

            <div class="uk-navbar-right">
                {% if let Some(user) = profile.user %}
                <div class="uk-navbar-item">
                    <img class="uk-border-pill" src="{{ user.picture }}" width="35" height="35" alt="{{ user.name }}">
                    <div class="uk-visible@m">
                        <span class="uk-text-emphasis">
                            {% if profile.is_admin %}
                                <span>({{ profile.translate("administrator") }})</span>
                            {% else %}
                                <span>{{ user.name }}</span>
                            {% endif %}
                        </span>
                        <br>{{ user.email }}
                    </div>
                </div>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {% if profile.is_admin %}
                        <li>
                            <a href="/users">
                                <span uk-icon="icon: users"></span>
                                <span>{{ profile.translate("users") }}</span>
                            </a>
                        </li>

                        <li class="uk-nav-divider"></li>
                        {% endif %}

                        <li>
                            <a href="/auth/profile">
                                <span uk-icon="icon: user"></span>
                                <span>{{ profile.translate("user_profile") }}</span>
                            </a>
                        </li>

                        <li>
                            <a href="/auth/sign_out">
                                <span uk-icon="icon: sign-out"></span>
                                <span>{{ profile.translate("sign-out") }}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                {% else %}
                <form action="/auth/sign_in" method="post"
                      onsubmit="this.redirection_uri.value = window.location.pathname + window.location.search;">

                    <input type="hidden" name="redirection_uri">

                    <button class="uk-button uk-button-link" type="submit">
                        <span  uk-icon="icon: sign-in"></span>
                        <span class="uk-visible@m">{{ profile.translate("sign-in") }}</span>
                    </button>
                </form>
                {% endif %}
            </div>

        </div>
    </div>
</nav>

{% if profile.user.is_some() %}
<div class="mobile-nav uk-position-fixed uk-position-bottom uk-background-default uk-flex uk-flex-around uk-padding-small uk-hidden@s">
    <a href="/" class="uk-text-center uk-link-reset">
        <span uk-icon="home"></span>
        <br>
        <small>{{ profile.translate("home") }}</small>
    </a>

    <a href="/journal/of_month" class="uk-text-center uk-link-reset">
        <span uk-icon="calendar"></span>
        <br>
        <small>{{ profile.translate("journal") }}</small>
    </a>
</div>
{% endif %}
