{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-text-center">
    <h2 class="uk-margin-large-bottom">
        {{ profile.translate("welcome_with_love") }}
    </h2>

    <h3 class="uk-margin-large-bottom">
        {{ profile.translate("application_slogan") }}
    </h3>

    <p class="uk-margin-large-bottom">
        {{ profile.translate("application_goal") }}
    </p>
</div>

{% include "auth/sign-in_block.html" %}

{% endblock %}