<button class="uk-button uk-button-{{ button_level }}" uk-icon="{{ button_icon }}" uk-toggle="target: #{{ modal_id }}" type="button">
    {{ button_name }}
</button>

<div id="{{ modal_id }}" uk-modal bg-close="false">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <form action="{{ form_action }}" method="post" autocomplete="off" class="uk-form-stacked">
            <h2 class="uk-modal-title">
                {{ modal_title }}
            </h2>

            {{ modal_content|escape("none") }}

            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" uk-icon="close" type="button">
                    {{ cancel_text }}
                </button>

                <button class="uk-button uk-button-{{ button_level }}" uk-icon="{{ button_icon }}" type="submit">
                    {{ button_name }}
                </button>
            </p>
        </form>
    </div>
</div>