{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-grid-small uk-flex-middle" uk-grid>
    <div class="uk-width-auto">
        <img src="{{ connected_profile.user.picture }}" class="uk-border-pill" width="75" height="75" alt="{{ connected_profile.user.name }}">
    </div>
    
    <div class="uk-width-expand">
        <h2 class="uk-margin-remove-bottom">
            {% if is_admin %}
                (Administrateur)
            {% else %}
                {{ connected_profile.user.name }}
            {% endif %}
        </h2>

        <p class="uk-margin-remove-top">
            {{ connected_profile.user.email }}
        </p>
    </div>
</div>
{% endblock %}